<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Panel</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3 -->
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap Date Picker -->
    <link rel="stylesheet" href="~/bower_components/bootstrap-datepicker/build/datepicker.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/bower_components/select2/dist/css/select2.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/all.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/dist/css/skins/skin-blue.css">
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>C</b>T</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Certi</b>Track</span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation" style="box-shadow: rgba(0,0,0,.5) 0 1px 3px">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="font-family: 'Font Awesome 5 Free'; font-weight: 900;">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">User Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        User Name
                                        <small>User Role</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Account</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>User Name</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <partial name="_MainMenu" />
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Status Message Partial -->
            <Partial name="_StatusMessages" />
            <div id="status-messages"></div>
            <!-- ^^^^ -->
            <!-- Bootstrap Modal -->
            <div class="modal modal modal-warning fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="my-modal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Confirm</h4>
                        </div>
                        <div class="modal-body">
                            <h4 id="myModalLabel"></h4>
                            <input type="hidden" id="post-data" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" id="modal-btn-yes">Yes</button>
                            <button type="button" class="btn btn-outline" id="modal-btn-no">No</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Bootstrap Modal -->
            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Today.Year <a href="https://thatxrguy.com" target="_blank">Nem Ekpunobi</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Popper.js 1.12.9 -->
    <script src="~/bower_components/bootstrap/dist/js/popper.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap Validator.js 0.11.9 -->
    <script src="~/bower_components/bootstrap/dist/js/validator.min.js"></script>
    <!-- Bootstrap Date Picker -->
    <script src="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Select2 -->
    <script src="~/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="~/bower_components/inputmask/dist/inputmask/inputmask.js"></script>
    <script src="~/bower_components/inputmask/dist/inputmask/inputmask.extensions.js"></script>
    <script src="~/bower_components/inputmask/dist/inputmask/inputmask.phone.extensions.js"></script>
    <script src="~/bower_components/inputmask/dist/inputmask/jquery.inputmask.js"></script>
    <script src="~/bower_components/inputmask/dist/inputmask/bindings/inputmask.binding.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- Custom Page Script -->
    <script>
        $("#modal-btn-yes").on("click", function () {
            $("#my-modal").modal('hide');
            return true;
        });
        $("#modal-btn-no").on("click", function () {
            $("#my-modal").modal('hide');
            return false;
        });

        $(':button').click(function () {
            $(this.id).data('clicked', false);

            switch (this.id) {
                case 'modal-btn-yes':
                    console.log(this.id + " clicked");

                    var eId = $('#post-data').data('id');
                    var el = document.getElementById(eId);
                    var certId, staffId, url, message;

                    console.log(eId);
                    console.log(certId = el.dataset["certId"]);
                    console.log(staffId = el.dataset["staffId"]);
                    console.log(message = el.dataset["message"]);
                    console.log(url = el.dataset["url"]);

                    if (certId)
                        ajaxCall(certId, url);
                    else if (staffId)
                        ajaxCall(staffId, url);

                    break;
                case 'modal-btn-no':
                    console.log(this.id + " clicked");
                    break;
                default:
                    console.log(this.id + " clicked");
                    var el = document.getElementById(this.id);
                    if (el.dataset["certId"] || el.dataset["staffId"]) {
                        if (el.dataset["certId"])
                            console.log(el.dataset["certId"]);
                        else if (el.dataset["staffId"])
                            console.log(el.dataset["staffId"]);
                        console.log(el.dataset["message"]);
                        console.log(el.dataset["url"]);
                        console.log('<-------------->');
                    }
                    
                    $("#post-data").data("id", this.id);
                    break;
            }
        });

        //Bootstrap confirmation modal message
        var modalConfirm = function (modalLabel) {
            $("#myModalLabel").html(modalLabel);
        };
        //ajax call
        function ajaxCall(id, url) {
            var pData = $.extend({ id: id },
                { "CSRF-TOKEN-CERTITRACK-FORM": $('input[name="CSRF-TOKEN-CERTITRACK-FORM"]').val() });

            $.ajax({
                method: "POST",
                url: url,
                headers: {
                    "CSRF-TOKEN-CERTITRACK-FORM": $('input[name="CSRF-TOKEN-CERTITRACK-FORM"]').val()
                },
                data: pData,
                error: function () {
                    alert("Something went wrong, Try agian!");
                },
                success: function (result) {
                    if (result) {
                        sessionStorage.setItem("_refresh.location", true);
                        sessionStorage.setItem("_alert.result", result);

                        window.scroll({
                            top: 0,
                            left: 0,
                            behavior: 'smooth'
                        });
                        
                        window.location.reload();
                    }
                    else {
                        alert("Something went wrong, Try agian!\n");
                    }
                }
            });
        }

        //delete staff
        function deleteUser(id, name, url) {
            $("#my-modal").modal('show');
            modalConfirm("Are you sure you want to delete " + name + "?<hr>This action cannot be reversed.");
        }
        //redeem certificate
        function redeem(id, certNo, url) {
            $("#my-modal").modal('show');
            modalConfirm("Redeem Certificate: #" + certNo + " ?");
        }
        //format staff index table
        $(function () {
            $('#main-table-staff').DataTable({
                "columnDefs": [{
                    "targets": 6,
                    "orderable": false
                }]
            });
            $('#main-table-cert').DataTable({
                "columnDefs": [{
                    "targets": 8,
                    "orderable": false
                }]
            });
        });
        //datepicker
        $(function () {
            $.fn.datepicker.defaults = { //defaults for reference
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'yyyy-mm-dd',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: "auto",
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            };
            $('#set-expiry').datepicker({
                format: 'yyyy-mm-dd',
                startDate: "+1m",
                maxViewMode: 1,
                orientation: "bottom auto",
                daysOfWeekHighlighted: "1,2,3,4,5",
                todayBtn: true,
                todayHighlight: true
            });
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                maxViewMode: 1,
                orientation: "bottom auto",
                daysOfWeekHighlighted: "1,2,3,4,5",
                todayBtn: true,
                todayHighlight: true
            });
        });
        //onDocumentReady
        $(document).ready(function () {
            //InputMask
            $(":input").inputmask();
            //Select2
            $('.select2').select2({
                width: '100%'
            });
            //Bootstrap tooltip
            $('[data-toggle="tooltip"]').tooltip();
            //Bootsrap alert modal
            if (sessionStorage.getItem("_refresh.location") == "true") {
                document.getElementById("status-messages").innerHTML =
                    "<div class=\"alert alert-success alert-dismissible\" role=\"alert\" style=\"margin-top: -2px; box-shadow: rgba(0,0,0,.5) 0 1px 3px\">" +
                    "    <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">" +
                    "        <span aria-hidden=\"true\">&times;</span>" +
                    "    </button>" +
                    "    <strong>Success</strong>" +
                    "    <span class=\"pull-right\">" + sessionStorage.getItem("_alert.result") + "</span>" +
                    "</div>";
                sessionStorage.setItem("_refresh.location", false);
            }
        });
    </script>
</body>
</html>