.dropdown-menu {
    background-color: #222d32;
}

.dropdown-menu > li {
    padding: 0;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: whitesmoke;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover {
    background-color: #e1e3e9;
    color: #333;
}

.dropdown-menu > li.active {
    background-color: #e1e3e9;
    color: #333;
}