span.label {
    font-size: 0.9em;
}

    span.label.id {
        background-color: rgba(0,0,0,0.7);
        color: azure;
    }

    span.label a {
        color: azure;
    }

.dropdown-menu {
    background-color: #222d32;
    min-width: 10px;
}

    .dropdown-menu > li {
        padding: 0;
    }

        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: whitesmoke;
            white-space: nowrap;
            cursor: pointer;
        }

            .dropdown-menu > li > a:hover {
                background-color: #e1e3e9;
                color: #333;
            }

        .dropdown-menu > li.active {
            background-color: #e1e3e9;
            color: #333;
        }


/* Login */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
}

    .popup h2 {
        font-size: 25px;
        margin: 0 0 10px 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popup .close:hover {
            color: #06D85F;
        }

    .popup .content {
        max-height: 30%;
        overflow: auto;
    }

@media screen and (max-width: 700px) {
    .popup {
        width: 70%;
    }
}
